<div class="footer-content">
<div class="copyright-content">
	<div >
	<div class="container">
		<div class="copyright-text text-center">&copy;2019 HeartSushi - All right Reserved. HeartSushi Learning Management System</div>
	</div>
</div>
</div>

