<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/homepage/bootstrap.min.css" />
    <link rel="stylesheet" href="stylesheets/homepage/camera.css" />
    <link rel="stylesheet" href="stylesheets/homepage/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="stylesheets/homepage/matrix-login.css" />
    <link rel="stylesheet" href="stylesheets/homepage/font-awesome.css" />
    <script type="text/javascript" src="javascripts/homepage/jquery-1.5.1.min.js"></script>
  </head>

  <body>
      <%- body%>
  </body>

  </script>
  <script src="javascripts/homepage/bootstrap.min.js"></script>
  <script src="javascripts/homepage/jquery-1.7.2.js"></script>
  <script src="javascripts/homepage/jquery.easing.1.3.js"></script>
  <script src="javascripts/homepage/jquery.mobile.customized.min.js"></script>
  <script src="javascripts/homepage/camera.min.js"></script>
  <script src="javascripts/homepage/templatemo_script.js"></script>
  <script src="javascripts/homepage/ban.js"></script>
  <script type="text/javascript" src="javascripts/homepage/jQuery.md5.js"></script>
  <script type="text/javascript" src="javascripts/homepage/jquery.tips.js"></script>
  <script type="text/javascript" src="javascripts/homepage/jquery.cookie.js">
  </script>

</html>
