<canvas class="cavs"></canvas>
<div style="width:100%;text-align: center;margin: 0 auto;position: absolute;">
  <!-- 登录 -->
  <div id="loginbox" >
    <form action="" method="post" name="loginForm" id="loginForm">
      <div class="control-group normal_text">
          <img src="pictures/homepage/hs_logo2.png" alt="HS Logo" />
          <img src="pictures/homepage/HSlearning.png" alt="HS" />
      </div>
      <div class="control-group">
        <a class="btn btn-large btn-primary" href="/users/register">Register New User</a><br><br>
        <a class="btn btn-large btn-secondary" href="/users/login">Login As Member<a><br><br>
      <div class="controls">
        <div class="main_input_box">
          <font color="#f7a4a0">
            <span id="nameerr">Heart Sushi All right Reserved©2019. 
            <!-- HS Learning Management System -->
            </span>
          </font>
        </div>
      </div>
    </form>
  </div>
</div>

</div>
<div id="templatemo_banner_slide" class="container_wapper">
  <div class="camera_wrap camera_emboss" id="camera_slide">
    <!-- 背景图片 -->
    <div data-src="pictures/homepage/fairview_1.jpg"></div>
    <div data-src="pictures/homepage/fairview_2.jpg"></div>
    <div data-src="pictures/homepage/fairview_3.jpg"></div>
    <div data-src="pictures/homepage/fairview_4.jpg"></div>
    <div data-src="pictures/homepage/heartland_1.jpg"></div>
    <div data-src="pictures/homepage/heartland_2.jpg"></div>			
    <div data-src="pictures/homepage/heartland_3.jpg"></div>
    <div data-src="pictures/homepage/london_1.jpg"></div>
    <div data-src="pictures/homepage/london_2.jpg"></div>
    <div data-src="pictures/homepage/london_3.jpg"></div>
  </div>
  <!-- #camera_wrap_3 -->
</div>

<script> document.title = 'Home Pages' </script>